body {
	font-family: 'Open Sans', sans-serif;
}

.form-container {
	max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.form-group {
	display: block;
	margin: 10px 0;
}

.form-group input, .form-group textarea {
	display: block;
    width: -webkit-fill-available;
    margin: 10px 0;
    padding: 10px 10px;
    border-width: 1px;
}

.form-group input[type="checkbox"] {
	width: auto;
	display: inline;
	margin: 10px 0;
}
.pseudo-text {
	border: 1px solid;
	padding: 10px 10px;
	margin: 10px 0;
}
.notice p {
	font-weight: 600;
	margin: 20px 0;
	text-align: center;
}